/* div.app can be used for a specific tag*/
.app {
  text-align: center;
}


.calculator{
  background-color: black;
  color: white;
}

/* just specify the tag */
input{
  width: 60px;
  margin: 5px;
}


